@model IEnumerable<TimeReg.VI_ProjectAndOrderToolsUnion>
<br />
<p>
    <input class="form-control" id="SearchInput" type="text" placeholder="Search entire table">
</p>
<div id="tableWrapperWrapper" class="row">
    <div class="col">

        <table class="table-responsive">
            <tr>
                <th> Requester</th>
            </tr>

            @foreach (var item in Model)
            {
                if (item.Type == "Requester")
                {

                    <tr class="tr-sorting">
                        <td>
                            @item.Name
                            <br />
                            <a href="javascript:void()" class="Edit" data-UnionType="@item.Type" data-UnionId="@item.PK_Id">Edit</a> <span> | </span>
                            <a href="javascript:void()" class="Details" data-UnionType="@item.Type" data-UnionId="@item.PK_Id">Details</a> <span> | </span>
                            <a href="javascript:void()" class="Delete" data-UnionType="@item.Type" data-UnionId="@item.PK_Id">Delete</a>
                        </td>
                    </tr>

                }

            }

        </table>
    </div>

    <div class="col">
        <table class="table-responsive">
            <tr >
                <th> Requesting Organisation</th>
            </tr>

            @foreach (var item in Model)
            {
                if (item.Type == "RequestOrg")
                {

                    <tr class="tr-sorting">
                        <td>
                            @item.Name
                            <br />
                            <a href="javascript:void()" class="Edit" data-UnionType="@item.Type" data-UnionId="@item.PK_Id">Edit</a> <span> | </span>
                            <a href="javascript:void()" class="Details" data-UnionType="@item.Type" data-UnionId="@item.PK_Id">Details</a> <span> | </span>
                            <a href="javascript:void()" class="Delete" data-UnionType="@item.Type" data-UnionId="@item.PK_Id">Delete</a>
                        </td>
                    </tr>

                }

            }

        </table>
    </div>


    <div class="col">
        <table class="table-responsive">
            <tr>
                <th> Requesting Organisation</th>
            </tr>

            @foreach (var item in Model)
            {
                if (item.Type == "CustomerRef")
                {

                    <tr class="tr-sorting">
                        <td>
                            @item.Name
                            <br />
                            <a href="javascript:void()" class="Edit" data-UnionType="@item.Type" data-UnionId="@item.PK_Id">Edit</a> <span> | </span>
                            <a href="javascript:void()" class="Details" data-UnionType="@item.Type" data-UnionId="@item.PK_Id">Details</a> <span> | </span>
                            <a href="javascript:void()" class="Delete" data-UnionType="@item.Type" data-UnionId="@item.PK_Id">Delete</a>
                        </td>
                    </tr>

                }

            }

        </table>

    </div>

    <div class="col">
        <table class="table-responsive">
            <tr>
                <th> Requesting Organisation</th>
            </tr>

            @foreach (var item in Model)
            {
                if (item.Type == "PlatformOrProduct")
                {

                    <tr class="tr-sorting">
                        <td>
                            @item.Name
                            <br />
                            <a href="javascript:void()" class="Edit" data-UnionType="@item.Type" data-UnionId="@item.PK_Id">Edit</a> <span> | </span>
                            <a href="javascript:void()" class="Details" data-UnionType="@item.Type" data-UnionId="@item.PK_Id">Details</a> <span> | </span>
                            <a href="javascript:void()" class="Delete" data-UnionType="@item.Type" data-UnionId="@item.PK_Id">Delete</a>
                        </td>
                    </tr>

                }

            }

        </table>
    </div>

    <div class="col">
        <table class="table-responsive">
            <tr>
                <th> Requesting Organisation</th>
            </tr>

            @foreach (var item in Model)
            {
                if (item.Type == "Turbine")
                {

                    <tr class="tr-sorting">
                        <td>
                            @item.Name
                            <br />
                            <a href="javascript:void()" class="Edit" data-UnionType="@item.Type" data-UnionId="@item.PK_Id">Edit</a> <span> | </span>
                            <a href="javascript:void()" class="Details" data-UnionType="@item.Type" data-UnionId="@item.PK_Id">Details</a> <span> | </span>
                            <a href="javascript:void()" class="Delete" data-UnionType="@item.Type" data-UnionId="@item.PK_Id">Delete</a>
                        </td>
                    </tr>

                }

            }

        </table>
    </div>

    <div class="col">
        <table class="table-responsive">
            <tr>
                <th> Requesting Organisation</th>
            </tr>

            @foreach (var item in Model)
            {
                if (item.Type == "TimeType")
                {

                    <tr class="tr-sorting">
                        <td>
                            @item.Name
                            <br />
                            <a href="javascript:void()" class="Edit" data-UnionType="@item.Type" data-UnionId="@item.PK_Id">Edit</a> <span> | </span>
                            <a href="javascript:void()" class="Details" data-UnionType="@item.Type" data-UnionId="@item.PK_Id">Details</a> <span> | </span>
                            <a href="javascript:void()" class="Delete" data-UnionType="@item.Type" data-UnionId="@item.PK_Id">Delete</a>
                        </td>
                    </tr>

                }

            }

        </table>
    </div>

    <div class="col">
        <table class="table-responsive">
            <tr>
                <th> Requesting Organisation</th>
            </tr>

            @foreach (var item in Model)
            {
                if (item.Type == "TaskType")
                {

                    <tr class="tr-sorting">
                        <td>
                            @item.Name
                            <br />
                            <a href="javascript:void()" class="Edit" data-UnionType="@item.Type" data-UnionId="@item.PK_Id">Edit</a> <span> | </span>
                            <a href="javascript:void()" class="Details" data-UnionType="@item.Type" data-UnionId="@item.PK_Id">Details</a> <span> | </span>
                            <a href="javascript:void()" class="Delete" data-UnionType="@item.Type" data-UnionId="@item.PK_Id">Delete</a>
                        </td>
                    </tr>

                }

            }

        </table>
    </div>
</div>


















        @*
           >>>>> USES IT'S OWN SCRIPT FOR SORTING AND FILTERING!!!! <<<<<
            The original script which handles everything around the tables, from sorting to generic search.

            is intended for pages with a single input and needs to be rewritten
        *@

        <script >
 



            $(document).ready(function () {

                //Enables search input
                $("#SearchInput").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $(".table-responsive td").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });

            //adds input and then sets the id of table to id="table"

            $(".table-responsive").attr("id", "table");


            //updates the columns TH on load to have sorting.
            /*
            id = "table"
            */
            $(".table-responsive tr").children("th").each(function (index, element) {
                $(this).attr("onclick", "sortTable(" + index + ")");
            });



            function sortTable(n) {
                var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                table = document.getElementsByClassName("table");
                switching = true;
                // Set the sorting direction to ascending:
                dir = "asc";
                /* Make a loop that will continue until
                no switching has been done: */
                while (switching) {
                    // Start by saying: no switching is done:
                    switching = false;
                    rows = table.rows;
                    /* Loop through all table rows (except the
                    first, which contains table headers): */
                    for (i = 1; i < (rows.length - 1) ; i++) {
                        // Start by saying there should be no switching:
                        shouldSwitch = false;
                        /* Get the two elements you want to compare,
                        one from current row and one from the next: */
                        x = rows[i].getElementsByTagName("TD")[n];
                        y = rows[i + 1].getElementsByTagName("TD")[n];
                        /* Check if the two rows should switch place,
                        based on the direction, asc or desc: */
                        if (dir == "asc") {
                            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                // If so, mark as a switch and break the loop:
                                shouldSwitch = true;
                                break;
                            }
                        } else if (dir == "desc") {
                            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                // If so, mark as a switch and break the loop:
                                shouldSwitch = true;
                                break;
                            }
                        }
                    }
                    if (shouldSwitch) {
                        /* If a switch has been marked, make the switch
                        and mark that a switch has been done: */
                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                        switching = true;
                        // Each time a switch is done, increase this count by 1:
                        switchcount++;
                    } else {
                        /* If no switching has been done AND the direction is "asc",
                        set the direction to "desc" and run the while loop again. */
                        if (switchcount == 0 && dir == "asc") {
                            dir = "desc";
                            switching = true;
                        }
                    }
                }
            }


        </script>
