@model TimeReg.ViewModels.ProjectOrderUnionViewModel

@{
    ViewBag.Title = "Edit";
}
<h2>Edit</h2>
<h3>@Html.DisplayFor(model => model.Type)</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-form-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PK_Id, "Id" , htmlAttributes: new { @class = "col-form-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PK_Id, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                @Html.ValidationMessageFor(model => model.PK_Id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "col-form-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}

<a class="Details" data-UnionType="@Html.DisplayFor(model => model.Type)" data-UnionId="@Html.DisplayFor(model => model.PK_Id)">Details</a> <span> | </span>
<a class="Delete" data-UnionType="@Html.DisplayFor(model => model.Type)" data-UnionId="@Html.DisplayFor(model => model.PK_Id)">Delete</a> 
