@model IEnumerable<TimeReg.VI_ProjectAndOrderToolsUnion>

@{
    ViewBag.Title = "Union Page";
}

<h2>Union Page Helper</h2>
<h4>- Used by OrderNumber & Projects</h4>

<p>
    <a href="javascript:void()" class="Create ">Create New</a>
</p>

<div id="PartialViewTableWrapper"> Loading Table..</div>



<!-- Modal -->
<div class="modal" id="PartialViewModal" tabindex="-1" role="dialog" aria-labelledby="PartialViewModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-12">
                <h5 class="modal-title" id="PartialViewModalTitle">Rep It Project And Order Tools</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body " id="PartialViewModalBody" >

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" data-CRUD="" id="PartialViewModalSaveButton" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.js"></script>

    @*Ajax table handling
        
        In the following JS the variable "CRUD" represents the type of action requested eg: Create, Remove, Update, Details.
        *@
    <script>
        $(document).ready(function () {
            UpdateUnionTable();
        });


        function UpdateUnionTable() {
            $.ajax({
                url: '@Url.Content("~/ProjectAndOrderTools/UnionIndexTable")',
                type: "GET"
            }).done(function (partialViewResult) {
                $("#PartialViewTableWrapper").html(partialViewResult);
            })
        }

    </script>



    @*Ajax Handling for the modal on the Edit page - and a bit other stuff*@
    <script>


       //The click handleder for trigering the partialViewHandler. For the Create New, Edit | Details | Delete.
        $(document).on('click', '.Create', function () {
            PartialViewHandler($(this), "Create");
        });

        $(document).on('click', '.Edit', function () {
            PartialViewHandler($(this), "Edit");
        });

        $(document).on('click', '.Details', function () {
            PartialViewHandler($(this), "Details");
        });

        $(document).on('click', '.Delete', function () {
            PartialViewHandler($(this), "Delete");
        });


        //Partial View Handler, gets the correct information from the "links" clicked. Split due to the Dynamic tables
        function PartialViewHandler(object, CRUD) {
            var UnionOriginElement = object;
            var UnionOriginType = UnionOriginElement.data("uniontype");
            var UnionOriginId = UnionOriginElement.data("unionid");
            AjaxUnionHandler(CRUD, UnionOriginType, UnionOriginId);
        }



        //Handles the AJAX call to return a partial View. The Switch is used to get the correct partial view and then enters it into the modal. Editing the content just enough for it to be ready for the stored procedure part
        function AjaxUnionHandler(CRUD, UnionOriginType, UnionOriginId) {
            var UnionType = UnionOriginType;
            var UnionPK_Id = UnionOriginId;

            switch (CRUD) {
                case "Create":
                    $.ajax({
                        url: '@Url.Content("~/ProjectAndOrderTools/UnionCreate")',
                    }).done(function (partialViewResult) {
                        $("#PartialViewModal").modal('show');
                        $("#PartialViewModalTitle").text("Rep It -  " + CRUD);
                        $("#PartialViewModalSaveButton").data("crud", CRUD);
                        $("#PartialViewModalSaveButton").text("Create");
                        $("#PartialViewModalBody").html(partialViewResult);
                        });
                    break;
                case "Edit":
                    $.ajax({
                        url: '@Url.Content("~/ProjectAndOrderTools/UnionEdit")',
                        type: "GET",
                        data: { CRUD: CRUD, type: UnionType, PK_Id: UnionPK_Id }
                    }).done(function (partialViewResult) {
                        $("#PartialViewModal").modal('show');
                        $("#PartialViewModalTitle").text("Rep It -  " + CRUD);
                        $("#PartialViewModalSaveButton").data({crud: CRUD});
                        $("#PartialViewModalSaveButton").text("Save Changes");
                        $("#PartialViewModalBody").html(partialViewResult);

                        });
                    break;
                case "Details":
                    $.ajax({
                        url: '@Url.Content("~/ProjectAndOrderTools/UnionDetails")',
                        type: "GET",
                        data: { CRUD: CRUD, type: UnionType, PK_Id: UnionPK_Id }
                    }).done(function (partialViewResult) {
                        $("#PartialViewModal").modal('show');
                        $("#PartialViewModalTitle").text("Rep It -  " + CRUD);
                        $("#PartialViewModalSaveButton").data("crud", CRUD);
                        $("#PartialViewModalSaveButton").text("Close");
                        $("#PartialViewModalBody").html(partialViewResult);
                    });
                    break;

                case "Delete":
                    $.ajax({
                        url: '@Url.Content("~/ProjectAndOrderTools/UnionDelete")',
                        type: "GET",
                        data: { CRUD: CRUD, type: UnionType, PK_Id: UnionPK_Id }
                    }).done(function (partialViewResult) {
                        $("#PartialViewModal").modal('show');
                        $("#PartialViewModalTitle").text("Rep It -  " + CRUD);
                        $("#PartialViewModalSaveButton").data("crud", CRUD)
                        $("#PartialViewModalSaveButton").text("Delete");
                        $("#PartialViewModalBody").html(partialViewResult);
                    });
                    break;

                default:
                    $.ajax({
                        url: '@Url.Content("~/ProjectAndOrderTools/UnionEdit")',
                        type: "GET",
                        data: { CRUD: CRUD, type: UnionType, PK_Id: UnionPK_Id }
                    }).done(function (partialViewResult) {
                        $("#PartialViewModal").modal('show');
                        $("#PartialViewModalTitle").text("Rep It -  " + CRUD);
                        $("#PartialViewModalSaveButton").data("crud", CRUD)
                        $("#PartialViewModalBody").html(partialViewResult);
                    });
                    break;
            }


        }
    </script>


    @*This section handles the AJAX calls for stored procedures*@
    <script>


        $("#PartialViewModalSaveButton").click(function () {
            var CRUD = $(this).data("crud");
            var form = $("#PartialViewModalBody").children('form');
            console.log(form.serialize());
            switch (CRUD) {
                case "Create":
                    $.ajax({
                        url: form.attr("action"),
                        method: "POST",  // post
                        data: form.serialize(),
                        success: function (partialResult) {
                            $("#PartialViewModalBody").html(partialResult);
                            UpdateUnionTable();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            UpdateUnionTable();
                        }
                        
                    });
                    break;
                case "Delete":
                    $.ajax({
                        url: form.attr("action"),
                        method: "POST",  // post
                        data: form.serialize(),
                        success: function (partialResult) {
                            console.log("Case 'Deleted' triggered");
                            if (partialResult == "Delete Confirmed") {
                                $("#PartialViewModal").modal('hide');
                            } else {
                                $("#PartialViewModalBody").html(partialResult);
                            }
                            UpdateUnionTable();
                        }
                    });
                    break;
                  
                case "Edit":
             
                    $.ajax({
                        url: form.attr("action"),
                        method: "POST",  // post
                        data: form.serialize(),
                        success: function (partialResult) {
                            $("#PartialViewModalBody").html(partialResult);
                            UpdateUnionTable();
                        }
                    });
                    break;
                case "Details":
                    $("#PartialViewModal").modal('hide');
                    break;
                default:
                    break;
            }
         
        });
    </script>
}


