
@{
    ViewBag.Title = "Overview - Link Hub";
}

<h2>Overview - Link Hub</h2>
<span>
    This overview contains a collection of links used to create, edit, remove etc. a large variety of information crucial to Rep It.
    This information is primarily used by the Time Registration, Projects etc. All links are to the left and a short description is to the right. This page is mainly used for maintainances, adding users, updating order numbers etc.
</span>


<div>
    <dl class="dl-horizontal col-md-12">
        <dt>
            @Html.ActionLink("Project and Order Number Multi-Add", "Index", "ProjectAndOrderTools")
        </dt>
        <dd>
            Add multiple different information used by Project and Order Number at the same time: Requesting Organization, Customer Reference, Requesters, Turbines, Platforms or Products, Time Type, Task Type.
        </dd>

        <dt>
            @Html.ActionLink("Projects", "Index", "Projects")
        </dt>
        <dd>
            Manage Projects here. Here you can view additional details regarding different projects. As well as add new projects. Remove or update existing projects
        </dd>
        <dt>
            @Html.ActionLink("Order Number", "Index", "OrderNumber")
        </dt>
        <dd>
            Manage OrderNumbers here. Here you can view additional details regarding different projects. As well as add new projects. Remove or update existing projects
        </dd>
        <dt>
            @Html.ActionLink("Users", "Index", "Users")
        </dt>
        <dd>
            Manage Users here. This includes basic windows authentification for showing correct time registrations.
        </dd>
        <dt>
            @Html.ActionLink("Task Type", "Index", "TaskType")
        </dt>
        <dd>
            Manage task types. Primarily used by OrderNumbers.
        </dd>
        <dt>
            @Html.ActionLink("Time Type", "Index", "TimeType")
        </dt>
        <dd>
            Manage TimeTypes, primarly used by Projects.
        </dd>
        <dt>
            @Html.ActionLink("User Assignments", "Index", "UserAssignments")
        </dt>
        <dd>
            Assign users to different projects here.
        </dd>

    </dl>

    <li>@Html.ActionLink("Home", "Index", "Home")</li>
</div>

