@model TimeReg.VI_Users

@{
    ViewBag.Title = "Details | " + @Html.DisplayFor(model => model.NK_Name);
}

<h2>Details</h2>

<div>
    <h4>User @Html.DisplayFor(model => model.NK_Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NK_Name)
        </dd>

        <dt>
            ZID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NK_ZId)
        </dd>
        <hr />
        <br/>
      
        <dt>
            Time Registered
            
        </dt>
        <dd>
              @ViewBag.WeeklyTime.TotalTime <i> Hours in Week @ViewBag.WeeklyTime.Week </i>
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-outline-secondary" href="@Url.Content("~/TimeRegistrations")">Time Registration &raquo;</a>
    <a class="btn btn-outline-secondary" href="@Url.Content("~/Comments")">Weekly Comment &raquo;</a>
</p>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PK_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

