@model List<TimeReg.VI_Users>


    @{
    ViewBag.Title = "Users - Index";
    }

    <h2>List of all Users in the system</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Zid
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NK_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NK_ZId)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.PK_Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.PK_Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.PK_Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
  <script type="text/javascript" src="/path/to/jquery.tablesorter.js">
    $(function() {
  $(".table").tablesorter();
    });
</script>
}
