@model TimeReg.ViewModels.OrderNumberViewModel

@{
    ViewBag.Title = "Order Number - Details | " + @Html.DisplayFor(model => model.Title);
}

<h2>Details</h2>

<div>
    <h4>Order Number</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>Title</dt>
        <dd>@Html.DisplayFor(model => model.Title)</dd>

        <dt>Requesting Organization</dt>
        <dd> @Html.DisplayFor(model => model.Organization)</dd>

        <dt>Requester</dt>
        <dd>@Html.DisplayFor(model => model.RequesterName)</dd>

        <dt>Customer Reference</dt>
        <dd>@Html.DisplayFor(model => model.CustomerRefName)</dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PK_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
