@model List<TimeReg.ViewModels.TimeRegistrationViewModel>
<table class="table">
    <tr>
        <th>
            Project
        </th>
        <th>
            Order Number
        </th>
        <th>
            Time
        </th>

        <th>
            Date
        </th>
        <th>
            Task Type
        </th>
        <th>
            User
        </th>
        @*<th>
               Entry Date
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskTypeName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.DateEntry)

                </td>*@

            <td>
                <a href="javascript:void()" class="Edit" data-DynamicId="@item.PK_Id">Edit</a> <span> | </span>
                <a href="javascript:void()" class="Details" data-DynamicId="@item.PK_Id">Details</a> <span> | </span>
                <a href="javascript:void()" class="Delete"  data-DynamicId="@item.PK_Id">Delete</a> 
            </td>
        </tr>
    }

</table>
