@model TimeReg.ViewModels.TimeRegistrationViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Project
        </th>
        <th>
            Order Number
        </th>
        <th>
            Time
        </th>

        <th>
            Date
        </th>
        <th>
            Task Type
        </th>
        <th>
            User
        </th>
        @*<th>
               Entry Date
            </th>*@
        <th></th>
    </tr>

@foreach (var item in Model.VI_TimeRegistration_List) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskTypeName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.DateEntry)
          
        </td>*@
       
<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK_Id })
        </td>
    </tr>
}

</table>
