@model IEnumerable<TimeReg.Comments>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WeekNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FK_ProjectId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Projects.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.NK_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WeekNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FK_ProjectId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Projects.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.NK_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK_Id })
        </td>
    </tr>
}

</table>
