@model List<TimeReg.VI_Comments>

@{
    ViewBag.Title = "Weekly Comment - Index";
}

<h2>Index of all comments</h2>
<p>Table is a placeholder and needs restructure to account for the size of content</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Week #
        </th>
        <th>
            Project
        </th>
        <th>
            By User
        </th>
     
        <th>
           Year
        </th>
     
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="table-content">
   
        <td>
            @Html.DisplayFor(modelItem => item.WeekNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
     
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PK_Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.PK_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PK_Id })
        </td>
       
     
       
    </tr>

    <tr>
        <td class="table-comments-text" colspan="5"  >
            @Html.DisplayFor(modelItem => item.Text)
        </td>
       
    </tr>

                  
}

</table>
