@model List<TimeReg.VI_Projects>


<table class="table">
    <tr>
        <th>
            Project Name
        </th>
        <th>
            Order Number
        </th>
        <th>
            Estimated Time
        </th>
        <th>
            Actual Hours
        </th>
        <th>
            Project Leader
        </th>
        <th>
            Time Type
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeEstimation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timeSum)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeTypeName)
        </td>
        <td>
            @if (@item.PK_Id > 17)
            {
                <a href="javascript:void()" class="Edit" data-DynamicId="@item.PK_Id">Edit</a> <span> | </span>
                <a href="javascript:void()" class="Details" data-DynamicId="@item.PK_Id">Details</a> <span> | </span>
                <a href="javascript:void()" class="Delete" data-DynamicId="@item.PK_Id">Delete</a>

            }
            else
            {
                <a href="javascript:void()" class="Details" data-DynamicId="@item.PK_Id">Details</a> 
            }
        </td>
    </tr>
}

</table>
