@model TimeReg.ViewModels.ProjectDetailsViewModel


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Projects</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Order Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIProjects.OrderName)
        </dd>

        <dt>
            Project
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIProjects.Name)
        </dd>

        <dt>
            Project Scope
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VIProjects.Scope)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VIProjects.TimeEstimation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIProjects.TimeEstimation)
        </dd>
        <dt>
            Total Time Spent
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VIProjects.timeSum)
        </dd>


        <dt>
            Project Leader
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIProjects.UserName)
        </dd>
        <dt>
            Time Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIProjects.TimeTypeName)
        </dd>
    </dl>



    <table>
        <tr>
            
            <th>
                <a class="btn " data-toggle="collapse" href="#collapseUserList" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Time Distribution
                </a>
            </th>
            <th>
                <a class="btn " data-toggle="collapse" href="#collapseCommentList" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Project Comments
                </a>
            </th>
            
        </tr>
        <tr>
            <th class="table-remove-float">
                <div class="collapse" id="collapseUserList">
                    <div class="card card-body">
                        <dl class="dl-horizontal">
                          
                                @foreach (var item in Model.VITimeSpentPerUser)
            {
                                    <dt>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(modelItem => item.timeSum)
                                    </dd>
                                }
                        </dl>
                    </div>
                </div>
            </th>
            <th>

                <div class="collapse" id="collapseCommentList">
                    <div class="card card-body ">
                        <dl class="dl-horizontal">
                            @foreach (var item in Model.VIComments.Where(m => m.FK_ProjectId == Model.VIProjects.PK_Id))
            {
                                <dt>
                                    Week @Html.DisplayFor(modelItem => item.WeekNr)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(modelItem => item.Text)
                                </dd>
                            }
                        </dl>
                    </div>
                </div>
            </th>
        </tr>
    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VIProjects.PK_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
